@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

/* root */
:root {
  --body-color: hsl(218, 23%, 16%);
  --header-color: hsl(193, 38%, 86%);
  --accent-color: hsl(150, 100%, 66%);
  --card-color: hsl(217, 19%, 24%);
}

/* Resets */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}

.container {
  background-color: var(--card-color);
  width: 500px;
  height: 280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.advice {
  color: var(--header-color);
  font-size: 28px;
  text-align: center;
  margin: .8em 0;
  font-weight: 800;
  width: 445px;
}

.divider {
  padding: 1em 0em;
}

.divider img {
  width: 445px;
}

.advice-num {
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .75em;
}

button {
  background-color: var(--accent-color);
  border-radius: 50%;
  border: none;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 19.1em;
}

button img {
  width: 20px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--accent-color);
}

/* mobile view */

@media screen and (max-width: 425px) {
  
  .container {
    max-width: 350px;
  }

  .advice {
    
    max-width: 300px;
  }

  .divider img {
    width: 300px;
    height: 15px;
  }

  button {
    padding: 1.3em;
  }

  button img {
    width: 20px;
  }
}